.card {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    grid-template-rows: 1fr 1.5fr 1fr;
    align-items: center;
    color: rgb(32, 18, 112);
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: 500;
    /* border: 1.8px solid rgb(10, 139, 90); */
    border-radius: 15px;
    cursor: pointer;
    padding: 1rem 1rem;
    text-align: center;
}

.card h5 {
    font-size: 1.5rem;
    color: rgb(0, 132, 255);
}

.card a {
    text-decoration: none;
}

.card .card_image {
    width: 20rem;
    height: 20rem;
    justify-self: center;
    object-fit: fill;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    margin: 0;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(146, 143, 143),
        0.5em 0.5em 1.2em rgba(0, 0, 0, 0.3);
    ;
}