* {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}


.container {

    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 8rem 5.5rem 8rem;
    grid-auto-flow: row;
    padding-right: 4rem;
    padding-left: 4rem;
    /* grid-template-rows: 1fr 1fr 1fr;
    justify-content: center; */
    font-size: 7rem;
    /* justify-content: center;
    width: 100%;
    height: 100; */
    /* margin-: 1.5rem; */

    background-color: #fff;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;

    /* background-image: url('https://images.unsplash.com/photo-1506368083636-6defb67639a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80') */
}

.header {

    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 6rem;
    align-items: center;
    justify-self: center;
    /* justify-content: space-around; */
    align-content: center;
}

.header_nav {
    /* display: flex;
    flex-wrap: wrap;

    align-items: center; */
    background-color: #fff;
    /* height: 6rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
}

.nav_logo {
    grid-column-start: 1;
    grid-column-end: 2;
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}


.nav_searchBar {
    grid-column-start: 2;
    grid-column-end: 8;
    vertical-align: middle;
    width: 100%;
    /* flex-grow: 2; */
    /* max-width: 90rem; */

}

.nav_newRecipe {
    width: 100%;
    grid-column-start: 9;
    grid-column-end: 11;
    height: 100%;
    align-self: center;
    align-items: center;
    place-self: center;
    /* margin-left: 30rem; */

    /* margin-bottom: 0.5rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding-left: 7rem;
    padding-right: 2rem; */
    /* padding-bottom: 1rem; */
    font-size: 5rem;
    /* font-weight: 10px; */
    font-weight: 3rem;
    line-height: 1.6;
    text-decoration: none !important;
    height: 80%;

}

/* style={{ textDecoration: 'none' }} */

.nav_newRecipe link {
    list-style: none;
    text-decoration: none;
    color: #111;
    cursor: pointer;

}

.nav_newRecipe_button {
    display: flex;
    align-self: center;
    align-items: center;
    border-color: #d1d1d1;
    color: #767676;
    box-shadow: 0 1px 1px #0000000a;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

.container_filters {
    display: grid;
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 13;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 3rem;
    grid-auto-flow: row;
    background: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #111;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.6;
}

.container_filters h6 {
    font-size: 1.7rem;
}

.container_filters_h1 {
    grid-column-start: 8;
    grid-column-end: 10;
    text-align: right;
    width: 100%;
}

.container_filters_order {
    display: flex;
    grid-column-start: 10;
    grid-column-end: 11;
    width: 100%;
    font-size: 3rem;
    justify-content: center;
    align-content: center;
}

.container_filters_h2 {
    grid-column-start: 11;
    grid-column-end: 13;
    text-align: right;
    width: 100%;
}

.select_origin {
    /* width: 100%; */
    display: flex;
    grid-column-start: 13;
    grid-column-end: 14;
    margin-right: 1rem;
    margin-left: 1rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    justify-content: center;
    align-content: center;
}

.container_filters_h3 {
    display: inline-block;
    grid-column-start: 15;
    grid-column-end: 16;
    text-align: right;
}

.select_diets {
    /* width: 100%; */
    display: flex;
    grid-column-start: 16;
    grid-column-end: 19;
    margin-right: 1rem;
    margin-left: 1rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    justify-content: center;
    align-content: center;
}

.container_page {
    display: grid;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 13;
    font-size: 10rem;

}



/* a:visited {
    text-decoration: none;
    color: #111;
} */

.container_cards {
    display: grid;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-template-columns: repeat(3, 40rem);
    grid-template-rows: repeat(3, 30rem);
    gap: 1rem;
    align-content: center;
    justify-content: center;
    font-size: 5rem;

}

.container_cards a {
    text-decoration: none;
}