.main {
    align-items: center;
    display: grid;
    width: 100%;
    font-size: 5.5rem;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 6rem;
    /* transition: all .1s ease-in-out; */
    box-sizing: border-box;
    color: #111;
    /* position: relative; */
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: #eee;
    /* border-color: solid 5px black; */
    border: 10px solid #da4fc700;
    border-radius: 2.4rem;
}

.main a {
    text-decoration: none;
}

.main_submit {
    background-color: transparent;
    align-items: center;
    display: flex;
    border: none;
    padding: 0;
    text-align: inherit;
    width: 3rem;
    height: 3rem;

}

button.main_submit {
    line-height: inherit;
    cursor: pointer;
}

.main_searchBar {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-content: flex-start;
    justify-self: flex-start;

}

.main_searchBar_input {
    display: grid;
    width: 100%;
    align-content: start;
    justify-self: start;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-bottom: 2px;
    /* padding-left: 10px; */
    background-color: transparent;
    border: none;
    border-color: transparent;
    color: #111;


    letter-spacing: 4px;
    /* to remove the border focus */
    outline-width: 0.4;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
}

.main_closeButton {


    background-color: transparent;
    align-items: center;
    display: flex;
    border: none;
    padding: 0;
    text-align: inherit;
    width: 3rem;
    height: 3rem;
    /* 
    display: block;
    justify-self: end;
    align-self: center;

    border: none;
    padding: 0;
    width: 3rem;
    height: 3rem; */

    /* text-align: inherit; */
}

button.main_closeButton {
    line-height: inherit;
    color: inherit;
    cursor: pointer;
}